
     .jobtitle {
        margin: 10px;
        border: black;
        background-color: aquamarine;
        padding: 20px;
        box-sizing: border-box;
        float: right;
    }
    .body {
        background-image: url(New/portfolio-background-300x141.gif);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pic {
        width: 200px;
        height: 300px;
    }
    .text {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    } 
     